* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #d8d0d0;
}

#editor {
  height: calc(100vh - 95px);
  margin: 0px 30px;
  margin-bottom: 15px;
  background-color: beige;
}

div[role="toolbar"] {
  margin: 0px 20px;
  background-color: linear-gradient(to right, #f5f5dc, #a9a9a9);
  position: sticky;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  padding: 2px 10px;
  gap: 15px;
  background-color: darkgray;
  color: white;
  min-height: 35px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.titlebar {
  padding: 5px 4px;
  border-radius: 5px;
  font-weight: 500;
  font-size: medium;
}

.menu-item > button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5rem;
}

.shortcut_key {
  font-size: .7rem;
}

.ql-toolbar .ql-snow {
  position: sticky;
  z-index: 1000;
}

#rtf-doc {
  margin: 10px;
  background-color: #887a7a;
}

ul > li:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(190, 190, 190);
  cursor:default;
} 

/* Menu Bar options */
/* Style for the main menu */
.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style for main menu items */
.main-menu > li {
  position: relative;
  display: inline-block;
}

/* Style for submenu */
.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%; /* This positions the submenu right below the main menu item */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #a9a9a9;
  overflow: hidden;
  line-height: 1.5;
  width: 150px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Display submenu on hover */
.main-menu > li:hover .submenu {
  display: inline-block;
}

.submenu li button {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 15%, 0);
  padding: 0px 10px;
  border: 0px dashed grey;
  text-align: left;
}

/*------------------- fonts -------------------*/
/* Set dropdown font-families */
  

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Poppins']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Poppins']::before
{
  content: 'Poppins';
  font-family: 'Poppins';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Montserrat']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Montserrat']::before
{
  content: 'Montserrat';
  font-family: 'Montserrat';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Roboto']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Roboto']::before
{
  content: 'Roboto';
  font-family: 'Roboto';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Inconsolata']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Inconsolata']::before
{
  content: 'Inconsolata';
  font-family: 'Inconsolata';
}

/* Set content font-families */
.ql-font-Roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-Poppins {
  font-family: 'Poppins', sans-serif;
}

.ql-font-Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ql-font-Inconsolata {
  font-family: 'Inconsolata', monospace;
}